
.MuiExpansionPanel-root-120 {
  position: relative;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiExpansionPanel-root:before {
  top: -1px;
  left: 0;
  right: 0;
  height: 0px;
  content: "";
  opacity: 1;
  position: absolute;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.12);
}
.MuiExpansionPanel-root-120:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.MuiExpansionPanel-root-120:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.MuiExpansionPanel-root-120.MuiExpansionPanel-expanded-121 + .MuiExpansionPanel-root-120:before {
  display: none;
}
@supports (-ms-ime-align: auto) {
  .MuiExpansionPanel-root-120:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.MuiExpansionPanel-root-120:first-child:before {
  display: none;
}
.MuiExpansionPanel-expanded-121 {
  margin: 16px 0;
}
.MuiExpansionPanel-expanded-121:first-child {
  margin-top: 0;
}
.MuiExpansionPanel-expanded-121:last-child {
  margin-bottom: 0;
}
.MuiExpansionPanel-expanded-121:before {
  opacity: 0;
}
.MuiExpansionPanel-disabled-122 {
  background-color: rgba(0, 0, 0, 0.12);
}
